<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Inserisci studente</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/Universita.css}" />
</head>
<header>
	<h1>Universita' Atlantide</h1>
	<h3>Aggiungi uno studente</h3>
</header>
<body>
	<form action="#" method="post"
		th:action="@{/studenti/aggiungistudente}" th:object="${studente}">

			
			Matricola<input type="text" th:field="*{matricola}" id="matricola"
				placeholder="Inserisci qui la matricola"> <br>
				
				<br>
		
			Nome<input type="text" th:field="*{nome}" id="nome"
				placeholder="Inserisci qui il nome"> <br>
				
				<br>
			
			Cognome<input type="text" th:field="*{cognome}" id="cognome"
				placeholder="Inserisci qui il cognome"> <br>
				
				<br>
			
			Data di nascita<input type="date" pattern="yyyy-MM-dd"
				th:field="*{dataNascita}" id="dataNascita"> <br>
				
				<br>
			
			E-mail<input type="text" th:field="*{email}" id="email"
				placeholder="Inserisci qui l'e-mail"> <br>
				
				<br>
		
		Indirizzo<input type="text" th:field="*{indirizzo}" id="indirizzo"
			placeholder="Inserisci qui l'indirizzo"> <br>
			
			<br>
			
			Citta'<input type="text" th:field="*{citta}" id="citta"
				placeholder="Inserisci qui la citta'"> <br>
				
				<br> 
		
		<select th:field="*{corsoLaurea}">
		<div th:each="c:${corsi}">
		<option th:text="${c.nome}" th:value="${c.codice}"></option>
		</div>
		</select> <br>
		
		<br>

		
		
		 <input type="submit" value="Inserisci studente">
	
	</form>
</body>
<footer>
		<p>Created by Universita' Atlantide &copy; 2022</p>
	</footer>
</html>