<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Universita' Atlantide</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/Universita.css}" />
</head>
<header>
<div class="logo">
<img alt="Universita' Atlantide not found!" src="universita_atlantide_def_def.png">
</div>
	<h1>Universita' Atlantide</h1>
	<h3>Gestione studenti e segreteria</h3>
</header>
<body>
	<div class="titolo">
		<h2>Benvenuto nel portale di gestione dell'universita' Atlantide</h2>
	</div>
	<div class="homepage">
		<a href="studenti">Gestione studenti</a> <br> <br> <a
			href="corsi">Gestione corsi</a>
	</div>
</body>
<footer>
	<p>Created by Alessio Tabolacci per l'Universita' Atlantide &copy;
		2022</p>
</footer>
</html>